* {
    overflow: hidden; /* no scrollbars, get a bigger screen! */
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

#terminal {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

/* Disable the scrollbar. How to do this in other browsers? */
.xterm-viewport::-webkit-scrollbar {
    display: none;
}
